.class{
    
    }
    .class{
        
      text-align: center;  
    }

    .content,div{
        display: flex; 
    border: 2px solid black;
    width: 50%;
        
    }
    .content2>div{
        border: 2px solid black;
         width:100%; 
        }